<h1>Task list</h1>

<f:flashMessages as="flashMessages">
    <f:for each="{flashMessages}" as="flashMessage">
        <div class="alert alert-success" role="alert">
            <h4 class="alert-title">{flashMessage.title}</h4>
            <p class="alert-message">{flashMessage.message}</p>
        </div>
    </f:for>
</f:flashMessages>

<f:if condition="{pagination.paginator.paginatedItems -> f:count()}">
    <f:then>
        <f:render section="Table" arguments="{_all}" />
    </f:then>
    <f:else>
        <f:render section="NoItemsAvailable" />
    </f:else>
</f:if>

<f:section name="Table">
    <div class="table-responsive">
        <table class="table table-striped table-hover align-middle">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Category</th>
                    <th>Author</th>
                    <th>Assigned to</th>
                    <th>State</th>
                    <th>Due date</th>
                    <th>Reminder date</th>
                    <th>Controls</th>
                </tr>
            </thead>
            <tbody>
                <f:for each="{pagination.paginator.paginatedItems}" as="item">
                    <tr>
                        <td>{item.uid}</td>
                        <td>{item.title}</td>
                        <td>{item.description -> f:format.crop(maxCharacters: 20, append: '...')}</td>
                        <td>
                            <f:if condition="{item.category}">
                                <f:then>{item.category.title}</f:then>
                                <f:else>-</f:else>
                            </f:if>
                        </td>
                        <td>{item.owner.fullName}</td>
                        <td>{item.assignee.fullName}</td>
                        <td>
                            <f:if condition="{item.done} == 1">
                                <f:then><span class="badge bg-success">Done</span></f:then>
                                <f:else><span class="badge bg-tertiary">Open</span></f:else>
                            </f:if>
                        </td>
                        <td>
                            <f:if condition="{item.dueDate}">
                                <f:then>{item.dueDate -> f:format.date(format: 'd.m.Y H:i')}</f:then>
                                <f:else>-</f:else>
                            </f:if>
                        </td>
                        <td>
                            <f:if condition="{item.reminderDate}">
                                <f:then>{item.reminderDate -> f:format.date(format: 'd.m.Y H:i')}</f:then>
                                <f:else>-</f:else>
                            </f:if>
                        </td>
                        <td>
                            <span class="controls">
                                <f:if condition="{item.done}">
                                    <f:then>
                                        <a class="btn btn-primary btn-sm" href="{f:uri.action(action: 'markUndone', arguments: '{task: item}')}" role="button">
                                            Mark as undone
                                        </a>
                                    </f:then>
                                    <f:else>
                                       <a class="btn btn-primary btn-sm" href="{f:uri.action(action: 'complete', arguments: '{task: item}')}" role="button">
                                            Mark as done
                                        </a>
                                    </f:else>
                                </f:if>
                                <a class="btn btn-primary btn-sm" href="{f:uri.action(action: 'edit', arguments: '{task: item}')}" role="button">
                                    Edit
                                </a>
                                <a class="btn btn-danger btn-sm" href="{f:uri.action(action: 'delete', arguments: '{task: item}')}" role="button">
                                    Remove
                                </a>
                            </span>
                        </td>
                    </tr>
                </f:for>
            </tbody>
        </table>
    </div>

    <f:if condition="{pagination.paginator.numberOfPages} > 1">
        <div class="pagination-container mb-3">
            <f:render partial="Pagination" arguments="{pagination: pagination}" />
        </div>
    </f:if>

    <a class="btn btn-primary" href="{f:uri.action(action: 'create', pageUid: createFormUid)}" role="button">Add task</a>
</f:section>

<f:section name="NoItemsAvailable">
    <h2>No items here</h2>
</f:section>
